<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-size: x-large;">Momoland Bank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/"><b>HOME</b></a>
          <a class="nav-link" href="/transfer"><b>TRANSFER</b></a>
          <a class="nav-link" href="/account"><b>VIEW ACCOUNT</b></a>
        </div>
      </div>
    </div>
</nav>