<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/homepage.css">
<div class="bg d-flex justify-content-center">
    <div>
        <img src="/images/homepage1.jpg" alt="" srcset="">
    </div>
</div>
<div class="bg followups d-flex justify-content-center" style="padding-top: 2rem;">
    <a href="/account" class="btn btn-success" id="blockbtn">View Account</a> <a href="/transfer" class="btn btn-success" id="blockbtn">Transfer Money</a>
</div>